.containerPrincipal {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    border:1px solid blue;
    padding:40px;
    background-color:white;

}

.containerSecundario {
    text-align:center; 
}
